@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply container mx-auto px-5 lg:px-0;
}

.swiper-button-next,
.swiper-button-prev {
  /* background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    right:10px;
    padding: 30px; */
  color: #38bdf8 !important;
  fill: #38bdf8 !important;
  stroke: #38bdf8 !important;
}

.swiper-pagination-bullet {
  background-color: #38bdf8 !important;
}

.swiper-pagination-bullet-active {
  background-color: #38bdf8 !important;
}

.underline::before {
  position: absolute;
  content: "";
  transform: translate(-50%, -50%);
  width: 10%;
  height: 3px;
  background-color: #14141494;
  margin-top: 0.5rem;
}
